/* styles.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  }

nav{
    display: flex;
    padding: 8vh 0 8vh 10vh;
    background-color: #F9F3EB;
    justify-content: space-around;
}

nav button{
    color: white;
    background-color: #FB410D;
    border-radius: 20px;
    border: 0px;
    width: 10rem;
    height: 2.5rem;

}

nav button:hover{
    color: white;
    background-color: #e03303;
    border-radius: 20px;
    border: 0px;
    width: 10rem;
    height: 2.5rem;

}

div #content{
    display: grid;
}

/*Hero Section*/
div #hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-top: 1px solid black;
    background-color: #F9F3EB;
}

div #left-hero{
    align-self: center;
}

div #left-hero h1{
    font-size: 4.5rem;
}

div #left-hero span{
    font-size: 4.5rem;
    color: #FB410D;
}

div #left-hero h2{
    font-size: 1.8rem;
    color: #FB410D;
}

div #left-hero button{
    color: white;
    background-color: #FB410D;
    border-radius: 20px;
    border: 0px;
    width: 10rem;
    height: 2.5rem;
}

div #left-hero button:hover{
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 0px;
    width: 10rem;
    height: 2.5rem;
}

div #right-hero img{
    width: 45vw;
}


/*About Section*/
div#about{
    display: grid;
    padding: 5vh 3vw;
    justify-content: space-between;
}

div#about-title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
}

div#about-title h3{
    color: #FB410D;
    font-size: 1rem;
    text-transform: uppercase;
}

div#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10vh;
}

div.feature p{
color: gray;
    
}

div #quality {
    margin: 0px 1rem;
    padding: 2rem 1rem;
    background-color: #FFEEEB;
    border-radius: 20px;
}


div #delivery {
    margin: 0px 1rem;
    padding: 2rem 1rem;
    background-color: #F5F2FF;
    border-radius: 20px;
}

div #delivery {
    margin: 0px 1rem;
    padding: 2rem 1rem;
    background-color: #F5F2FF;
    border-radius: 20px;
}

div #hygene {
    margin: 0px 1rem;
    padding: 2rem 1rem;
    background-color: #FFF1DD;
    border-radius: 20px;
}


div #order {
    margin: 0px 1rem;
    padding: 2rem 1rem;
    background-color: #EEFBF2;
    border-radius: 20px;
}


/*Menu Section*/
div #menu-section{
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 5vh 3vw;
    background-color: #F9F3EB;
    justify-content: center;
}

div#menu-title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
}

div#menu-title h3{
    color: #FB410D;
    font-size: 1rem;
    text-transform: uppercase;
}

div#menu-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 50vw;
}

div.dish{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

div.dish img{
    width: 8vw;
    padding-right: 1rem;
}

div.dish h4{
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px;
}

div.dish h5{
    font-size: 1.25rem;
    color: #FB410D;
    margin: 0px;
    justify-self: center;
}
div.dish p{
    margin: 0px;
    font-size: 0.9rem;
    color: gray;
    padding-top: 1vh;
}

div #dish-details{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
